* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10vw;
    padding-top: 3vh;
}

@media (min-width: 700px) {
    .container {
        grid-template-columns: 1fr 2fr;
    }
}

ul li {
    margin: 0.5em;
    padding: 1.5em;
    border: 2px solid gray;
    border-radius: 10px;
    position: relative;
}

ul li button {
    position: absolute;
    top: -8px;
    right: -8px;
}

label {
    cursor: pointer;
}

.logo-image {
    cursor: pointer;
    width: 96px;
    height: 96px;
    max-width: 100%;
    max-height: 100%;
    margin: 1em;
    border-radius: 35%;
    transition: 200ms all;
}

.logo-image:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 12px 0px #cccccc;
    opacity: 0.9;
    transform: scale(0.95);
}

#ionic-logo-svg:hover {
    transition: 200ms all ease-out;
    fill: #3880ff;
}
